parameters:
    level: 0
    phpVersion: 70400
    paths:
        - src
    excludePaths:
        - tests
    scanDirectories:
        - vendor
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
    - vendor/autoload.php
    - stubs/phpstan-bootstrap.php
